################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LabCsharpBD/FileContentIndex/3791c3e8-d937-4416-9d14-2f9a499d5ca1.vsidx
